Repository tddworks/InAppKit: changes, and which Codecov flags are due for each by the changed paths.
All: domain, ui

docs(readme): add badges for CI, codecov, Swift, platform
  README.md
Due: none

test(core): add feature access and product config tests
  Tests/InAppKitTests/InAppKitTests.swift
Due: none

ci(coverage): track domain code coverage only
  .github/workflows/tests.yml
  codecov.yml
Due: none

feat(domain,infra): add pure domain models and testable store
  Package.swift
  Sources/InAppKit/Core/Domain/AccessControl.swift
  Sources/InAppKit/Core/Domain/FeatureRegistry.swift
  Sources/InAppKit/Core/Domain/MarketingRegistry.swift
  Sources/InAppKit/Core/Domain/PurchaseState.swift
  Sources/InAppKit/Core/Domain/Store.swift
  Sources/InAppKit/Core/InAppKit.swift
  Sources/InAppKit/Infrastructure/AppStore.swift
  Sources/InAppKit/Infrastructure/StoreKitProvider.swift
  Tests/InAppKitTests/Domain/AccessControlTests.swift
  Tests/InAppKitTests/Domain/FeatureRegistryTests.swift
  Tests/InAppKitTests/Domain/MarketingRegistryTests.swift
  Tests/InAppKitTests/Domain/PurchaseStateTests.swift
  Tests/InAppKitTests/Infrastructure/AppStoreTests.swift
  Tests/InAppKitTests/Infrastructure/StoreTests.swift
Due: domain

feat(purchase): add PurchaseSetup and product domain models
  Sources/InAppKit/Configuration/ProductConfiguration.swift
  Sources/InAppKit/Configuration/StoreKitConfiguration.swift
  Sources/InAppKit/Core/Domain/PaywallContext.swift
  Sources/InAppKit/Core/Domain/ProductDefinition.swift
  Sources/InAppKit/Core/InAppKit.swift
  Sources/InAppKit/Modifiers/PurchaseSetup.swift
  Tests/InAppKitTests/Domain/MarketingRegistryTests.swift
Due: domain

docs(claude): expand architecture and testing sections
  CLAUDE.md
Due: none

docs(api): update references to new domain model names
  docs/api-reference.md
  docs/customization.md
Due: none

refactor(domain): remove legacy typealiases and rename discount config
  Sources/InAppKit/Core/Domain/MarketingRegistry.swift
  Sources/InAppKit/Core/Domain/ProductDefinition.swift
  Sources/InAppKit/Core/InAppKit.swift
  Sources/InAppKit/Modifiers/PurchaseSetup.swift
  Sources/InAppKit/UI/Components/PaywallComponents.swift
  Sources/InAppKit/UI/Components/PurchaseOptionCard.swift
  Tests/InAppKitTests/Domain/MarketingRegistryTests.swift
  Tests/InAppKitTests/InAppKitTests.swift
  docs/api-reference.md
  docs/customization.md
Due: domain, ui

refactor(products): unify product configuration types
  Sources/InAppKit/Core/Domain/MarketingRegistry.swift
  Sources/InAppKit/Core/Domain/ProductDefinition.swift
  Sources/InAppKit/Core/InAppKit.swift
  Sources/InAppKit/Modifiers/PurchaseSetup.swift
  Tests/InAppKitTests/Domain/MarketingRegistryTests.swift
  Tests/InAppKitTests/InAppKitTests.swift
Due: domain

docs(skills): add InAppKit integration setup guide
  .claude/skills/inappkit-integration/SKILL.md
Due: none

feat(core): add subscription memory with grace period support
  Sources/InAppKit/Core/Domain/AccessControl.swift
  Sources/InAppKit/Core/Domain/GracePeriod.swift
  Sources/InAppKit/Core/Domain/MemoryBackend.swift
  Sources/InAppKit/Core/Domain/SubscriptionMemory.swift
  Sources/InAppKit/Core/Domain/SubscriptionMemoryStore.swift
  Sources/InAppKit/Core/InAppKit.swift
  Sources/InAppKit/Infrastructure/CloudMemoryStore.swift
  Sources/InAppKit/Infrastructure/KeychainMemoryStore.swift
  Sources/InAppKit/Modifiers/PurchaseSetup.swift
  Tests/InAppKitTests/Domain/AccessControlTests.swift
  Tests/InAppKitTests/Domain/SubscriptionMemoryTests.swift
Due: domain

refactor(core): rename SubscriptionMemoryStore to SubscriptionMemoryRepository
  Sources/InAppKit/Core/Domain/SubscriptionMemoryRepository.swift
  Sources/InAppKit/Core/InAppKit.swift
  Sources/InAppKit/Infrastructure/CloudSubscriptionMemoryRepository.swift
  Sources/InAppKit/Infrastructure/KeychainSubscriptionMemoryRepository.swift
Due: domain

feat(localization): add multi-language paywall strings and resource support
  Package.swift
  Sources/InAppKit/Extensions/Localization.swift
  Sources/InAppKit/Resources/ar.lproj/Localizable.strings
  Sources/InAppKit/Resources/de.lproj/Localizable.strings
  Sources/InAppKit/Resources/en.lproj/Localizable.strings
  Sources/InAppKit/Resources/es.lproj/Localizable.strings
  Sources/InAppKit/Resources/fr.lproj/Localizable.strings
  Sources/InAppKit/Resources/ja.lproj/Localizable.strings
  Sources/InAppKit/Resources/ko.lproj/Localizable.strings
  Sources/InAppKit/Resources/pt-BR.lproj/Localizable.strings
  Sources/InAppKit/Resources/ru.lproj/Localizable.strings
  Sources/InAppKit/Resources/vi.lproj/Localizable.strings
  Sources/InAppKit/Resources/zh-Hans.lproj/Localizable.strings
  Sources/InAppKit/Resources/zh-Hant.lproj/Localizable.strings
Due: none

feat(ui): open legal URLs directly on macOS
  Sources/InAppKit/UI/Components/TermsPrivacyFooter.swift
Due: ui

feat(paywall): add configurable purchased state via withPaywallPurchased
  Sources/InAppKit/Modifiers/PurchaseSetup.swift
  Sources/InAppKit/Resources/ar.lproj/Localizable.strings
  Sources/InAppKit/Resources/de.lproj/Localizable.strings
  Sources/InAppKit/Resources/en.lproj/Localizable.strings
  Sources/InAppKit/Resources/es.lproj/Localizable.strings
  Sources/InAppKit/Resources/fr.lproj/Localizable.strings
  Sources/InAppKit/Resources/ja.lproj/Localizable.strings
  Sources/InAppKit/Resources/ko.lproj/Localizable.strings
  Sources/InAppKit/Resources/pt-BR.lproj/Localizable.strings
  Sources/InAppKit/Resources/ru.lproj/Localizable.strings
  Sources/InAppKit/Resources/vi.lproj/Localizable.strings
  Sources/InAppKit/Resources/zh-Hans.lproj/Localizable.strings
  Sources/InAppKit/Resources/zh-Hant.lproj/Localizable.strings
  Sources/InAppKit/UI/Components/PaywallPurchasedView.swift
  Sources/InAppKit/UI/Paywall/PaywallView.swift
  docs/api-reference.md
  docs/customization.md
Due: ui

Path conditions:
  domain: any of: Sources/InAppKit/Core/, Sources/InAppKit/Configuration/, but not: **/*Preview*.swift, **/TestHelpers/**/*, **/Logger.swift, **/PlatformExtensions.swift
  ui: any of: Sources/InAppKit/UI/, but not: **/*Preview*.swift, **/TestHelpers/**/*, **/Logger.swift, **/PlatformExtensions.swift
